<TabControl>
	<TabPage Text="Pay Premium" TagIcon="fa fa-dollar-sign">
		<div class="tabcontent nav-item">
			<h3>London</h3>
			<p>London is the capital city of England.</p>
		</div>
			@*<h1>The first tab</h1>*@
	</TabPage>
	<TabPage Text="Recuring SetUp" TagIcon="fa fa-retweet fa-fw">
		<div  class="tabcontent nav-item">
			<h3>Paris</h3>
			<p>Paris is the capital of France.</p>
		</div>
	</TabPage>
	<TabPage Text="History" TagIcon="fa fa-history fa-fw">
		<div class="tabcontent nav-item">
			<h1>The third tab</h1>
		</div>
	</TabPage>
	<TabPage Text="Forms" TagIcon="fa fa-file-export fa-fw">
		<div  class="tabcontent nav-item">Tag Control Only has one level</div>
		
</TabPage>
</TabControl>
